.o_contract_live_preview .o_contract_live_preview_content {
    background-color: #fff;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
}

.contract_report_page .contract_body h2 {
    margin-top: 1.2em;
}

.contract_report_page .contract_body h4 {
    margin-top: 0.8em;
    font-style: italic;
}
